body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.column {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  text-align: center;
  padding: 1rem;
}

.floats {
  overflow: hidden;
}

/* my implementation   */
.floats__column-first {
  background-color: #1abc9c;
}

.floats__column-second {
  background-color: #2ecc71;
}

.floats__column-third {
  background-color: #3498db;
}

.floats > div {
  float: left;
  width: calc(100% / 3);
}

.blocks {
  font-size: 0;
}

.blocks .column {
  display: inline-block;
  width: calc(100% / 3);
}

.blocks__column-first {
  background-color: #f39c12;
}

.blocks__column-second {
  background-color: #d35400;
}

.blocks__column-third {
  background-color: #c0392b;
}

.flexbox {
  display: flex;
}

.flexbox .column {
  flex-grow: 1;
}

.flexbox__column-first {
  background-color: #16a085;
}

.flexbox__column-second {
  background-color: #27ae60;
}

.flexbox__column-third {
  background-color: #2980b9;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid__column-first {
  background-color: #f1c40f;
}

.grid__column-second {
  background-color: #e67e22;
}

.grid__column-third {
  background-color: #e74c3c;
}
  