* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

body, .page, .main {
    height: 100%;
}

.page, .main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    background-color: #b9c783;
}


.header {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    color: #fffecd;
}

.content {
    align-items: center;
    justify-content: center;
}

.main {
    justify-content: center;
}

.user--name__box, .user--pass__box {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input--box {
    border: solid #fffecd;
    min-height: 25px;
    background-color: #fffecd;
}

.input--box:hover {
    border: solid #635960;
}

.input--button {
    border: solid #635960;
    width: 100%;
    min-height: 25px;
    background-color: #635960;
    color: #fffecd;
}

.input--button:hover {
    border: solid #fffecd;
}

.top--block {
    width: 100%;
    height: 2%;
    display: flex;
}

.bg--color--1 {
    background-color: #635960;
}

.bg--color--2 {
    background-color: #8b8e59;
}

.bg--color--3 {
    background-color: #eada7d;
}

.bg--color--4 {
    background-color: #fffecd;
}

.bg--color--5 {
    background-color: #7bc3ab;
}

.box--size {
    height: 100%;
    width: 100%;
}


.chat__message--box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 400px;
    height: 300px;
    background-color: #fffecd;
}

.box--message {
    display: flex;
    border-radius: 5px;
    margin: 1px;
    align-items: baseline;
}

.box--message > * {
    margin: 1%;
}

.send--message {
    width: inherit;
    display: flex;
    height: 100%;
}

.send--message > * {
    margin-left: 1%;
    margin-right: 1%;
}

.chat--form > * {
    margin-top: 5%;
    margin-bottom: 5%;
}

#messageInputField {
    min-width: 70%;
    font-size: 1rem;
    resize: none;
}

.user--name {
    font-weight: bold;
}

.hide--error {
    display: none;
}

.red--border {
    border: solid #ff3371;
}

.error {
    color: #ff3371;
    font-size: 0.8em;
}

.size--smile {
    height: 1.2em;
}

.message {
    word-wrap: anywhere;
}
