footer {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

footer span {
    margin: 0 5px;
}

.font--color {
    color: #6dc5ea;
}